html {
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    font-size: 10px;
    line-height: 1;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 245, 229);
}

section {
    display: block;
    margin: auto;
    width: 90%;
}

.section-title {
    font-size: 1.6rem;
    font-weight: 800;
}

.accordion-item {
    border-top: 1px solid #e0dfdf;
}

.accordeon-label {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.accordeon-input {
    appearance: none;
    margin: 0;
}

.accordeon-label-text {
    flex-basis: 80%;
    color: blue;
    font-size: 1.5rem;
}

.accordeon-label-icon {
    margin-left: auto;
    opacity: 0;
    transition: transform 0.5s;
    font-size: 1.5rem;
}

.mem-image {
    display: none;
    margin: auto;
    width: 80%;
}

/* icons while hover */

.section-accordion:hover .accordeon-label-icon {
    opacity: 1;
}

/* icon in checked item */

.accordeon-input:checked ~ .accordeon-label-icon {
    transform: rotate(45deg);
}

/* text while hover */

.section-accordion:hover .accordeon-label-text {
    color: #000;
}

/* text color of checked item */

.accordeon-input:checked ~ .accordeon-label-text {
    color: #000;
}

.accordeon-input:checked ~ .mem-image {
    display: flex;
}



.accordeon-input:hover ~ .mem-image {
    display: flex;
}

